
/*DROP DOWN MENU.................................................*/

#masthead ul li a:hover{
	border-bottom: 4px solid #F7931E;
	padding-bottom: 10px;
}

#masthead li ul{
	display: none;
	position: absolute;
	top: 33px;
	z-index: 1px;
	background-color: #E6E6E6;
	-webkit-box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
	-moz-box-shadow: 3px 3px 10px rgba(0,0,0,0.3); 
}

#masthead li ul li{
	float: none;
	font-size: 1em;
	text-align: left;
	border-bottom: 1px solid #999999;
	border-top: 1px solid white;
	padding: 5px 10px 5px 35px;
	background: url("../images/masthead/select_arrow.gif") no-repeat 10px 12px;
}

#masthead li ul li a:hover{
	border: none;
	padding: 8px 0;
}

#masthead li.over ul{
	display: block;
}
